HOST=0.0.0.0
PORT=1337
PORTAL_PUBLIC_URL=http://localhost:3010
PLAYER_PUBLIC_URL=http://localhost:5173
RUNTIME_API_URL=http://localhost:3001

APP_KEYS="toBeModified1,toBeModified2"
API_TOKEN_SALT=tobemodified
ADMIN_JWT_SECRET=tobemodified
TRANSFER_TOKEN_SALT=tobemodified
JWT_SECRET=tobemodified

ROBO_MERCHANT_LOGIN=tobemodified
ROBO_PASSWORD1=tobemodified
ROBO_PASSWORD2=tobemodified
ROBO_PAYMENT_SUCCESS_URL=http://localhost:3000/payment/success
ROBO_PAYMENT_FAIL_URL=http://localhost:3000/payment/fail

PAYMENT_STUB_ENABLED=false
